<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <form method="POST" action="/addCandidate" >
     <h1>Insert Candidate</h1>   
    <input required  placeholder="Enter StudentID" name="stuID" type="number" /><br /> <br />
    <input  required minlength="3" placeholder="Enter Name" name="name" type="text" /><br /> <br />
    <button>Submit</button>

    </form>
  </body>
</html>
