<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h1>Menu</h1>
     
     <ul>
        <h2>Admin Modules</h2>
        <a href="/" target="_blank" > <li>Add Candidate</li></a>
        <a href="/report" target="_blank"><li>Report</li ></a>
    </ul>  
    <ul>
        <h2>User Modules</h2>
       <a href="/users/" target="_blank" > <li>Voting</li></a>
        
    </ul>   
  </body>
</html>
